* {
  margin: 0;
  padding: 0;
}

#container {
  border: 1px solid blue;
  background: gray;
  height: 40px;
  line-height: 40px;
}

#container ul {
  list-style: none;
}

#container ul li {
  float: left;
  position: relative;
}

#container ul li a {
  display: block;
  padding: 0 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#container ul li a:hover {
  color: white;
  background: darkblue;
}

/* Submenu */
#container ul li ul {
  position: absolute;
  left: 0;
  top: 40px;
  background: orange;
  display: none;
  width: 150px;
}

#container ul li:hover ul {
  display: block;
}

#container ul li ul li {
  float: none;
  border: 1px solid green;
}

#container ul li ul li a {
  padding: 10px;
  line-height: normal;
}
